<!DOCTYPE html>
<html lang="es-MX">
<head>
    <meta charset="UTF-8">
    <meta author="Berenice Briseño Monico">
    <meta description="Es una pagina web">
    <meta keywords="html, aplicacion web">
    <meta >
    <title>Markeing</title>
    <link rel="shortcut icon" href="./static/images/mesa3.ico" type="image/x-icon">
    <link rel="stylesheet" href="./static/CSS/styles.css" type="text/css">
</head>
    <body>
        <div class="menu">
            <nav>
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/Bootstrap">Historia</a></li>
                    <li><a href="#">Catálogo</a></li>
                    <li><a href="/compra">Cotiza aquí</a></li>
                </ul>
            </nav>
        </div>
        <!-- comentarios -->
        <div class="slogan">
            <h2>“La inteligencia al alcance de tus manos” </h2>
            <p>Obtenga envío gratis al día siguiente en pedidos realizados antes de las 12:00 PM, detalles al finalizar la compra.
                <a href="/compra"> Compra ahora.</a></p>
        </div>

        <div class="grid-container">
            <div class="header">
            <img src="./static/images/oferta.gif"  alt="Funny image">
            </div>

        <div class="left">
            <a target="_blank" href="./static/images/Table one.jpeg">
                <img src="./static/images/Table one.jpeg"  width="200" height="200">
            </a>
            <div class="desc">
                <p>Entrada USB.<br>Reproductor Android o PC integrados.<br>Superficie de “50” HD.<br>Utilizará energía solar.<br>Podrá cargar hasta 4 smartphones y 3 laptops</p>
                <h3><b><i>$32,000</i></b></h3>
            </div>
        </div>

        <div class="middle">
            <a target="_blank" href="./static/images/Table two.png">
                <img src="./static/images/Table two.png" width="300" height="200">
            </a>
            <div class="desc">
                <p>Utilizará energía solar.<br>Altura de 70 cm.<br>Ancho de 60cm<br>100% ecológico<br>Podrá cargar hasta 3 smartphones y 1 laptop</p>
                <h3><b><i>$18,500</i></b></h3>
            </div>
        </div>

        <div class="right">
            <a target="_blank" href="./static/images/Table three.png">
                <img src="./static/images/Table three.png" width="300" height="200">
            </a>
            <div class="desc">
                <p>Utilizará energía solar.<br>Superficie de “50” HD.<br>Ancho de 60cm.<br>Altura de 70 cm.<br>Podrá cargar hasta 3 smartphones y 3 laptops</p>
                <h3><b><i>$26,000</i></b></h3>
            </div>
        </div>
            <div class="footerr">
                <p><tt>¡Regístrate y enterate de actualizaciones y ofertas especiales!</tt></p>
                <form action="#" method="get">
                    <tt>Nombre:</tt> <input type="text" name="fname"><br>
                    <tt>Apellido:</tt> <input type="text" name="lname"><br>
                    <tt>Email:</tt> <input type="email" name="direccionemail" placeholder="usuario@gmail.com"><br>
                    <input type="submit" value="REGISTRARME">
                </form>
            </div>
        </div>
    </body>
</html>
