<!DOCTYPE html>
<html lang="es-MX">
<head>
    <meta charset="UTF-8">
    <meta author="Berenice Briseño Monico">
    <meta description="Es una pagina web">
    <meta keywords="html, aplicacion web">
    <title>Markeing</title>
    <link rel="shortcut icon" href="./static/images/mesa3.ico" type="image/x-icon">
    <link rel="stylesheet" href="./static/CSS/stylesin.css" type="text/css">
</head>

<body>
        <div class="agrupar">
            <div class="encabezado">
                <header>
                    <img src="./static/images/fondo.jpg ">
                    <p>SMARTABLE </p>
                </header>
            </div>
            <div class="menu">
                <nav>
                    <ul>
                        <li><a href="#">Inicio</a></li>
                        <li><a href="/Bootstrap">Historia</a></li>
                        <li><a href="/rejilla">Catálogo</a></li>
                        <li><a href="/compra">Cotiza aquí</a></li>
                    </ul>
                </nav>
            </div>
            <div class="contenedor">
                <section>
                    <img src="./static/images/Logotipo.png" align="left">
                    <h1>Visión</h1>
                    <br>
                    <article>
                            <p>Somos una empresa de tecnología que busca llegar a las personas que buscan renovarse, ayudar al medio ambiente y encaminar al nuevo futuro a nuestros clientes. </p>
                    </article>
                    <br>
                    <h2>Misión</h2>
                    <br>
                    <article>
                            <p>Crecer en el mercado de la tecnología y encaminar a nuestro cliente al futuro, ayudando a nuestro mundo con innovación e inteligencia. </p>
                    </article>
                </section>
            </div>
            <br>
            <div class="cont">
                <section>
                    <h3>¿Qué ofrecemos?</h3>
                    <br>
                    <article>
                        <p>Tenemos una visión del futuro en la que nuestro producto se adapte a la persona que lo va a utilizar, ajustando su altura, su firmeza en función del peso que soportan, la constitución física de la persona que los utiliza, etc. El diseño de la mesa podrá ser provisional o con diseños artísticos para la gente que le guste lo abstracto.</p>
                        <p>En nuestra página encontraras mesas inteligentes ideales para presentaciones, videoconferencias, reuniones online ya que permite la visión completa de la pantalla desde todos los ángulos a todas aquellas personas que la estén usando, pero también podrás disfrutar esto teniendo una en tu hogar.</p>
                    </article>
                    <br>
                    <img src="./static/images/smartable.png"  width="450" height="350">
                </section>
            </div>
            <div class="pie">
                <footer>
                    <table>
                          <tr>
                              <th>Atención a clientes</th>
                              <th>Contáctanos</th>
                              <th>Acerca de</th>
                          </tr>
                          <tr>
                              <td>¿Quiénes somos?</td>
                              <td>55 50293901</td>
                              <td>Política de privacidad</td>
                          </tr>
                          <tr>
                              <td>Preguntas frecuentes</td>
                              <td>markeing.com</td>
                              <td>Términos y Condiciones</td>
                          </tr>
                          <tr>
                              <td>Soporte técnico</td>
                              <td>L-S 08:00-21:00 Hrs</td>
                              <td>Ambiente</td>
                          </tr>
                    </table>
                </footer>
            </div>
        </div>
</body>
</html>


